{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}

<main role="main" class="container">
            {% if messages %}
                  <ul class="success">
                                    <a href="#" id="thisclosebutton" class="close" data-dismiss="alert" aria-label="close" style="margin-left: 20px; margin-right: 10px">&times;</a>

                   {% for message in messages %}
                   <h1>   <center>    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> </center></h1>
                   {% endfor %}
                 </ul>
            {% endif %}

  <div class="jumbotron">
      <div class="header"> {{header}}</div>
          	<form method='POST' action=''>{% csrf_token %}
		{{form|crispy}}
        <input type="submit" value='Search'/>
    </form>
  <script>
      $(function () {
          $('#{{ form.date.id_for_label }}').datetimepicker({
              format: 'DD/MM/YYYY',
          })
      })
  </script>

        <br><br>
      <div class="row">
          {% for sale in date_sale %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">{{ sale.store.name }}</h4>
                <h5 class="card-subtitle mb-2 text-muted">DAILY SALES: P{{ sale.daily_sales_total }}</h5>
                <a href="{% url 'shop_sold_items' sale.store.slug %}" class="card-text">ITEMS SOLD: {{ sale.daily_quantity_total }} QUANTITY</a>
            </div>
        </div>
          {% endfor %}

      </div>

  </div>
</main>
{% endblock %}

