{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}

<main role="main" class="container">
            {% if messages %}
                  <ul class="success">
                                    <a href="#" id="thisclosebutton" class="close" data-dismiss="alert" aria-label="close" style="margin-left: 20px; margin-right: 10px">&times;</a>

                   {% for message in messages %}
                   <h1>   <center>    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> </center></h1>
                   {% endfor %}
                 </ul>
            {% endif %}

  <div class="jumbotron">
      <div class="header"> {{header}}</div>

    	<form method='POST' action=''>{% csrf_token %}
		{{form|crispy}}
        <input type="submit" value='Search'/>
    </form>

</br>

      <div class="display_table">
    <table class='table'>
        <thead>
          <tr>
            <th>COUNT</th>
            <th>CATEGORY</th>
            <th>ITEM NAME</th>
            <th>QUANTITY IN STORE</th>
            <th>REORDER LEVEL</th>
            <th>TIME STAMP</th>
            <th>LAST UPDATED</th>

            <th>UPDATE</th>

          </tr>
        </thead>
      {% for instance in queryset %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.category}}</td>
            <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}}</a></td>
            <td>
                  {% if instance.quantity <= instance.reorder_level %}
                  <div style="background-color: orange;">
                      <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a></div>
                  {% else %}
                <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
                  {% endif %}
            </td>

            <td>{{instance.timestamp}}</td>
            <td>{{instance.last_updated}}</td>

            <td>

                <a href="{% url 'stock_detail' instance.id %}"><img src="{% static 'img/update.png' %}"></a>

            </td>
          </tr>
      {% endfor %}
    </table>
    </div>
  </div>
</main>
{% endblock %}