{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}

<main role="main" class="container">
            {% if messages %}
                  <ul class="success">
                                    <a href="#" id="thisclosebutton" class="close" data-dismiss="alert" aria-label="close" style="margin-left: 20px; margin-right: 10px">&times;</a>

                   {% for message in messages %}
                   <h1>   <center>    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> </center></h1>
                   {% endfor %}
                 </ul>
            {% endif %}

  <div class="jumbotron">
      <div class="header"> {{header}}</div>

        <br><br>
        <div class="display_table">
          <table class='table'>
                  <tr>
                    <th>ITEM NAME</th>
                    <th>QUANTITY IN STORE</th>
                    <th>LAST UPDATED</th>
                    <th>REORDER LEVEL</th>
                  </tr>

{% for product in queryset %}
                  <tr>
                    <td>{{product.item_name}}</td>
                      {% for item in sales_record %}
                      {% if item.product.pk == product.pk %}
                    <td>{{ item.quantity }}</td>
                      {% endif %}
                      {% endfor %}
                    <td>{{product.last_updated}}</td>
                    <td>{{product.reorder_level}}</td>
                  </tr>
              {% endfor %}
          </table>
        </div>

  </div>
</main>
{% endblock %}
