{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}


<main role="main" class="container">
            {% if messages %}
                  <ul class="success">
                                    <a href="#" id="thisclosebutton" class="close" data-dismiss="alert" aria-label="close" style="margin-left: 20px; margin-right: 10px">&times;</a>

                   {% for message in messages %}
                   <h1>   <center>    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> </center></h1>
                   {% endfor %}
                 </ul>
            {% endif %}

  <div class="jumbotron">
      <div class="header"> {{header}}</div>


<a href="{% url 'sell_items' queryset.id %}"><div class='btn btn-danger'>SELL ITEM</div></a>
        <br><br>
        <div class="display_table">
          <table class='table'>
                  <tr>
                    <th>ITEM NAME</th>
                    <th>QUANTITY IN STORE</th>
                      <th>PRICE</th>
                      <th>UNIT</th>
                    <th>LAST UPDATED</th>
                    <th>REORDER LEVEL</th>
                  </tr>


                  <tr>
                    <td>{{queryset.item_name}}</td>
                    <td>
                                     {% if remaining < reoder_level %}
                  <div style="background-color: orange;">
                      <a href="{% url 'shop_stock_detail' queryset.id %}">{{remaining}}</a></div>
                  {% else %}
                <a href="{% url 'shop_stock_detail' queryset.id %}">{{remaining}}</a>
                                     {% endif %}</td>
                  <td>{{ queryset.price }}</td>
                      <td>{{ queryset.sub_category.name }}</td>
                    <td>{{queryset.last_updated}}</td>
                    <td><a href="{% url 'shop_reoder_level' shop_record.store.slug queryset.pk %}">{{reoder_level}}</a></td>
                  </tr>
          </table>
        </div>

  </div>
</main>
{% endblock %}